.project-container {
}
iframe.project-main-article {
  height: 500px;
}

.project-description {
  font-size: 170%;
}

.project-container p {
  font-family: serif;
}

.project-image-main {
  max-width: 400px;
  max-height: 200px;
}

.label-tool {
  background-color: #CCA;
}

.label-tag {
  background-color: #CAC;
}

.search {
  min-width: 300px;
}
