<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">code gallery</h3>
</div>

<div class="projects-container">
  <div class="project-container" ng-repeat="project in projects">
    <section class="project">
      <h2>{{ project.title }}</h2>
      <p ng-bind-html="project.description"></p>
      <ul class="links">
        <li ng-repeat="link in project.links"
          class="link-type-{{link.type}}" ng-switch on="link.type">
          <a ng-href="{{ link.url }}" ng-switch-when="image">
            <img width="400" ng-src="{{ link.url }}">
          </a>
          <iframe ng-switch-when="video" width="560" height="315"
            ng-src="{{ '//www.youtube.com/embed/' +
            link.url.replace('http://www.youtube.com/watch?v=', '') }}" frameborder="0"
          allowfullscreen></iframe>
          <a ng-href="{{ link.url }}" ng-switch-default
            ng-switch on="link.title || ''">
            <span ng-switch-when="">
              {{ link.type }}
            </span>
            <span ng-switch-default>
              {{ link.title }}
            </span>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
