<section class="project">
  <a name="{{ project.slug }}"></a>
  <h2 class="col-md-10 project-title">{{ project.title }}</h2>
  <div class="col-md-6">
    <div class="project-description"
      ng-bind-html="project.description"></div>
    <ul class="list-inline">
      <li ng-show="project.platform" class="platform">
        <span class="label label-success">{{ project.platform }}</span>
      </li>
      <li ng-repeat="language in project.languages" class="language">
        <span class="label label-info">{{ language }}</span>
      </li>
      <li ng-repeat="tool in project.tools" class="tool">
        <span class="label label-tool">{{ tool }}</span>
      </li>
      <li ng-repeat="tag in project.tags" class="tag">
        <span class="label label-tag">{{ tag }}</span>
      </li>
    </ul>
  </div>
  <div class="col-md-6" ng-show="project.mainImage">
    <a ng-href="{{ project.mainImage.url }}" target="_blank">
      <img class="project-image-main" ng-src="{{ project.mainImage.url }}">
    </a>
  </div>
  <ul class="links col-md-6 list-unstyled">
    <li ng-repeat="link in project.links"
    class="link-type-{{link.type}}" ng-switch on="link.type">
    <iframe ng-switch-when="video" width="560" height="315"
      ng-src="{{ 
      link.url.replace('/watch?v=', '/embed/') }}" frameborder="0"
      allowfullscreen></iframe>
    <a ng-href="{{ link.url }}" ng-switch-default target="_blank"
      ng-switch on="link.title || ''">
      <span ng-switch-when="">
        {{ link.type }}
      </span>
      <span ng-switch-default>
        {{ link.title }}
      </span>
    </a>
    </li>
  </ul>
</section>
